@import "centage/init.less";

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline; margin: 0; padding: 0; }

body {
  background: #e1e1e1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.125em;
  color: #899a9d;
  
}

/* Header */
#header {
  height: 128px;
  background: url(/images/header-tail.gif) 0 0 repeat-x #101010;
  border-bottom: 4px solid #ccc;
  .col(12);
  .logo {
    position: absolute;
    left: 0;
    top: 64px;
//    background: url(/images/logo.gif) no-repeat 0 0;
    padding: 0 0 0 53px;
    h1 {
      font-size: 42px;
      line-height: 1em;
      color: #dadada;
      font-family: "Times New Roman", Times, serif;
      font-weight: normal;
      font-style: italic;
      a {
        color: #dadada;
        text-decoration: none;
      }
    }
    span {
      display: block;
      font-size: 10px;
      text-transform: uppercase;
      margin-top: -10px;
      color: #5a6466;
    }
  }
  nav {
    position: absolute;
    right: 5%;
    top: 85px;
    li {
      float: left;
      padding-left: 10px;
      a {
        float: left;
        font-size: 19px;
        line-height: 1.2em;
        font-family: "Times New Roman", Times, serif;
        color:#d6d6d6;
        text-decoration: none;
        font-style: italic;
        padding: 10px 20px 20px 20px;
        border-radius: 10px;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
//        behavior:url(js/PIE.htc);
        position: relative;
      }
      a:hover, a.active {
        background:#ececec;
        color:#1d1d1d;
      }
    }
    li.active {
      a {
        background:#ececec;
        color:#1d1d1d;
      }
    }
  }
}

/* Content */
#content {
  background: #ececec;
}

#content.home {
  .col-nogut(12);
  .result{
    display: inline-block;
    .sub-col(12,6);
  }
}

#footer {
  border-top: 1px solid #c5c5c5;
  color: #969696;
  padding: 50px 0 50px 0;
  div {
    .margin-left(5);
    .col(7);
    font-size:.75em;
    nav {
      ul {
        margin-left: -5px;
        padding-bottom:.5em;
        li {
          display: inline;
          a {
            padding: 0 8px 0 5px;
            color: #56514c;
          }
        }
      }
    }
  }
  a {
    color:#969696;
    text-decoration:none;
  }
  a:hover {
    text-decoration:underline;
  }
  span {
    color:#000;
  }
}

.circle {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: #999;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  text-align: center;
  line-height: 26px;
  font-weight: bolder;
}

.ball-1, .ball-2, .ball-3, .ball-4, .ball-5, .ball-6, .ball-7 {
  .circle;
  color: black;
  background: gray;
}

.ball-8, .ball-9, .ball-10, .ball-11, .ball-12, .ball-13, .ball-14 {
  .circle;
  color: white;
  background: green;
}

.ball-15, .ball-16, .ball-17, .ball-18, .ball-19, .ball-20, .ball-21 {
  .circle;
  color: black;
  background: yellow;
}

.ball-22, .ball-23, .ball-24, .ball-25, .ball-26, .ball-27, .ball-28 {
  .circle;
  color: white;
  background: purple;
}

.ball-29, .ball-30, .ball-31, .ball-32, .ball-33, .ball-34, .ball-35 {
  .circle;
  color: white;
  background: blue;
}

.ball-36, .ball-37, .ball-38, .ball-39, .ball-40, .ball-41, .ball-42 {
  .circle;
  color: black;
  background: orange;
}

.ball-43, .ball-44, .ball-45, .ball-46, .ball-47, .ball-48, .ball-49 {
  .circle;
  color: black;
  background: pink;
}
